body {
	margin:0;
	font-family: Verdana, Geneva, Arial, sans-serif;
}

.name {
    margin-left: 300px;
    font-size: 300%;
    font-weight: bold;
    color: #C87430;
}

.tasks {
    margin-left: 130px;
    font-size: 150%;
    font-weight: bold;
    color: #5B3D25;
}

a {
    color: #797775;
}
a:link {
    text-decoration: none;
}
a:visited { 
    text-decoration: none;
}
a:hover { 
    text-decoration: none;
    color: #FF0000;
} 