body {
	margin:0;
    font-family: Verdana, Geneva, Arial, sans-serif;
    color: #86838B;
    font-weight: normal;
}

.wrap {
    width: 100%;
    margin: 40px;
    position: relative;
  }

.eliz {
    position: absolute;
    top: -5px;
    left: 57px;
    
}

.eric {
    position: absolute;
    top: -6px;
    left: 528px;
    
}

.left {
    position: absolute;
    top: 270px;
    left: 27px;
    width: 430px;
    text-align: justify;
}

.right {
    position: absolute;
    left: 527px;
    top: 288px;
    width: 430px;
    text-align: justify;
}

.text_1 {
    position: relative;
    top: 494px;
    left: 111px;
}

.text_2 {
    position: relative;
    top: 1047px;
    left: 111px;
}

.text_3 {
    position: relative;
    top: 0px;
    left: 2px;
    width: 735px;
}

.vv_1 {
    position: absolute;
    left: 180px;
    top: 172px;
}

.vv_2 {
    position: absolute;
    left: 80px;
    top: 41px;
}

.table_1 {
    position: absolute;
    left: 99px;
    width: 652px;
}

li {
    list-style-type: none;
}

td {
    padding-right: 22px;
    padding-bottom: 9px;
    font-size: 92%;
}

#tab_1 {
    padding-left:55px;
}
#tab_2 {
    padding-left:80px;
}

