body {
	margin:0;
	font-family: Verdana, Geneva, Arial, sans-serif;
}

b {
     
    
    color: #C87430;
}

p {
    
    color: #797775;
}

li {
	color: #797775;
}

i {
     
    font-style: oblique;
    color: #000000;
}

h1 {
     
    font-weight: bold;
    color: #C87430;
}

h2 {
     
    font-weight: bold;
    color: #5c5b5b;
}

.image {
	margin:0px; 
	float:left;
	cursor:pointer;
	max-height:70px;
}