* {
    margin: 0;
    padding: 0;
  }
  html,
  body {
    font-family: Verdana, Geneva, Arial, sans-serif;
    font-size: 120%;
    margin: 0;
    height: 100%;
  }
  .wrapper {
    position: relative;
    min-height: 100%;
  }
  
  .header {
    background: red;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 200px;
    /* z-index: 2; */
  }
  
  .footer {
    position: absolute;
    width: 100%;
    height: 200px;
    padding-bottom: 200px;
    /* bottom: 0px; */
    background: #273234;
    /* z-index: 0; */
    /* clear: both; */
  }
  
  .content {
    position: relative;
    top: 200px;
    width: 100%;
    height: 100vh;
    background: #3B3939;
    padding-bottom: 90px;
    overflow:hidden;
  }

  .column-1 {
    background: #67D420;
    position: absolute;
    height: 500px;
    width: 80%;
    float: left;
    /* z-index: 1; */
}

.column-2 {
    background: #363DEC;
    position: absolute;
    height: 700px;
    width: 20%;
    margin-left: 80%;
    /* z-index: 1; */

}
